[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside2 = "*"
multimethod = "*"
multipledispatch = "*"
multidispatch = "*"

[dev-packages]

[requires]
python_version = "3.11"
